/*Colors*/
body {
  font-size: 10px;
}
.section {
  padding: 100px 0;
}
.header {
  margin-top: 20px;
  height: 70px;
}
.header .btn-header {
  padding: 1.3rem 1.7rem;
  background-color: #FFAF00;
  color: white;
}
.header .btn-header:active,
.header .btn-header:hover,
.header .btn-header:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .phone-link {
  font-size: 20px;
}
.header .phone-link a {
  text-decoration: none;
  color: #1a1820;
}
